/**
  |============================
  | Footer section
  |============================
*/
.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-second-color);
  letter-spacing: 0.2em;
  padding: 56px 0px;
  /* margin-left: auto; */
}

.footer-wrapper {
  display: flex;
  margin-left: auto;
}

.footer-list {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background: currentColor;
    margin-right: 40px;
  }
}

.footer-item {
  margin-left: 40px;

  &:first-child {
    margin-left: 0px;
  }
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  text-decoration: none;
}
