.working {
  padding: 120px 0px;
}

// .working-visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;

//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.working-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 44px;
}

.working-list {
  display: flex;
}

.working-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}
