<section class="about">
  <div class="about-container container">
    <ul class="about-list">
      <li class="about-item">
        <img src="./images/shaving1.jpg" alt="barber shaving" width="270" />
      </li>
      <li class="about-item">
        <img src="./images/shaving2.jpg" alt="barber cuts hair" width="270" />
      </li>
    </ul>
    <div class="about-wrap">
      <p class="about-text pre-text">About</p>
      <h2 class="about-title">Best Barbershop in your city</h2>
      <p class="about-afterText">
        If you want to add more confidence to your image, you should definitely
        visit us.
      </p>
      <p class="about-textBlock">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <button type="button" class="about-button bg-btn">ONLINE-BOOKING</button>
    </div>
  </div>
</section>
