<section class="benefits">
  <div class="benefits-container container">
    <div class="benefits-wrapper">
      <ul class="benefits-list">
        <li class="benefits-item">
          <span class="benefits-numbers">600</span>
          <p class="benefits-text">Satisfied customers per day</p>
        </li>
        <li class="benefits-item">
          <span class="benefits-numbers">50</span>
          <p class="benefits-text">Awards for excellent service</p>
        </li>
        <li class="benefits-item">
          <span class="benefits-numbers">20</span>
          <p class="benefits-text">Kyiv’s best barbers</p>
        </li>
        <li class="benefits-item">
          <span class="benefits-numbers">100</span>
          <p class="benefits-text">Gifts for regular customers</p>
        </li>
      </ul>
    </div>
    <div class="benefits-wrap">
      <p class="benefits-preText pre-text">Old traditional school</p>
      <h2 class="benefits-title">¿Why people come to us?</h2>
      <p class="benefits-afterText">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
  </div>
</section>
