<section class="contacts-wrapper">
  <div class="contacts-container container">
    <!-- booking -->
    <div class="booking">
      <h2 class="booking-title">Online-booking</h2>

      <!-- form -->
      <form action="" class="form">
        <input class="form-input" type="text" name="name" placeholder="Name*" />
        <input
          class="form-input"
          type="tel"
          name="phone"
          placeholder="Phone*"
        />
        <textarea
          class="form-input textarea-styles"
          name="massage"
          placeholder="Message"
        ></textarea>
        <button type="button" class="form-button bg-btn">send</button>
      </form>
    </div>

    <!-- adress -->

    <div class="address">
      <h2 class="address-title">Contacts</h2>
      <address class="address-contacts">
        <ul class="address-list">
          <li class="address-item">
            <a
              class="address-link active"
              href="https://goo.gl/maps/SqjWdAGcujGYJVh9A"
              rel="noopener noreferrer nofollow"
            >
              <p class="text-link">st. Vasilkovaya, 7A</p>
              <p class="text-link">Kiev, 08132</p>
            </a>
          </li>

          <li class="address-item">
            <a class="contacts-tel active" href="tel:+380441111111"
              >+38 044 111 11 11</a
            >
          </li>

          <li class="address-item">
            <a class="address-mail active" href="mailto:barbershop@email.com"
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <p class="address-afterText pre-text">Working hours</p>
      <p class="address-hours">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
