<footer class="footer">
  <div class="container">
    <p class="copyright">&#169; Copyright 2020</p>
    <ul class="social-links-list list">
      <li class="social-links-item">
        <a
          class="social-links-item-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li class="social-links-item">
        <a
          class="social-links-item-link link"
          href="htts://www.youtube.com"
          target="_blank"
          rel="noopener noreferrer"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</footer>
