<section class="hero">
  <div class="hero-container container">
    <div class="hero-sidebar">
      <ul class="hero-sidebarList">
        <li class="hero-sidebarItem">
          <a
            href=""
            rel="noopener noreferrer nofollow"
            class="hero-sidebarLink active"
            >Instagram</a
          >
        </li>
        <li class="hero-sidebarItem">
          <a
            href=""
            rel="noopener noreferrer nofollow"
            class="hero-sidebarLink active"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
    <div class="hero-wrap">
      <p class="hero-text pre-text">A hair salon for men in Kyiv</p>
      <h1 class="hero-title">BarberShop</h1>
      <p class="hero-textBlock">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
    </div>
  </div>
</section>
