<div class="backdrop is-hidden" data-modal>
  <div class="modal-wrapper">
    <button class="modal-btn" data-modal-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
        width="18"
        height="18"
      >
        <path
          d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
        />
      </svg>
    </button>

    <h1 class="modal-title">Оставьте заявку на стрижку</h1>
    <form class="modal-form">
      <!-- дані відвідувача -->
      <label class="modal-form__group">
        <span class="modal-form__label">Имя</span>
        <input
          class="modal-form__input"
          type="text"
          name="user-name"
          minlength="3"
          placeholder=" "
          required
        />
        <span class="alert alert--warning">
          Имя должно состоять минимум из 3 символов
        </span>
        <svg class="alert-icon alert-icon--warning" width="18" height="18">
          <use href="./images/form-sprite.svg#icon-warning"></use>
        </svg>
        <span class="alert alert--error"> Вы ввели не корректные данные </span>
        <svg class="alert-icon alert-icon--error" width="18" height="18">
          <use href="./images/form-sprite.svg#icon-error"></use>
        </svg>
        <svg class="modal-form__icon" width="20" height="20">
          <use href="./images/form-sprite.svg#icon-user"></use>
        </svg>
      </label>

      <label class="modal-form__group">
        <span class="modal-form__label">Телефон</span>
        <input
          class="modal-form__input"
          type="phone"
          name="user-phone"
          placeholder=" "
          required
        />
        <span class="alert alert--warning">
          Введите номер телефона в формате +38 099 123 45 67
        </span>
        <svg class="alert-icon alert-icon--warning" width="15" height="15">
          <use href="./images/form-sprite.svg#icon-warning"></use>
        </svg>
        <span class="alert alert--error"> Вы ввели не корректные данные </span>
        <svg class="alert-icon alert-icon--error" width="15" height="15">
          <use href="./images/form-sprite.svg#icon-error"></use>
        </svg>
        <svg class="modal-form__icon" width="20" height="20">
          <use href="./images/form-sprite.svg#icon-phone"></use>
        </svg>
      </label>

      <label class="modal-form__group">
        <span class="modal-form__label">Почта</span>
        <input
          class="modal-form__input"
          type="mail"
          name="user-mail"
          placeholder=" "
          required
        />
        <span class="alert alert--warning">
          Введите почту в формате example@mail.com
        </span>
        <svg class="alert-icon alert-icon--warning" width="15" height="15">
          <use href="./images/form-sprite.svg#icon-warning"></use>
        </svg>
        <span class="alert alert--error"> Вы ввели не корректные данные </span>
        <svg class="alert-icon alert-icon--error" width="15" height="15">
          <use href="./images/form-sprite.svg#icon-error"></use>
        </svg>
        <svg class="modal-form__icon" width="20" height="20">
          <use href="./images/form-sprite.svg#icon-mail"></use>
        </svg>
      </label>

      <!-- варіанти оплати -->
      <p class="modal-form__subtitle">Виберите форму оплаты</p>
      <div class="modal-form__pay-type">
        <label class="modal-form__pay-group">
          <input
            class="modal-form__pay-checkbox visually-hidden"
            type="radio"
            name="user-pay"
            checked
          />
          <svg class="modal-form__pay-option" width="50" height="50">
            <use href="./images/form-sprite.svg#icom-ms-card"></use>
          </svg>
        </label>

        <label class="modal-form__pay-group">
          <input
            class="modal-form__pay-checkbox visually-hidden"
            type="radio"
            name="user-pay"
          />
          <svg class="modal-form__pay-option" width="50" height="50">
            <use href="./images/form-sprite.svg#icon-visa"></use>
          </svg>
        </label>
      </div>

      <!-- політика приватності (чекбокс) -->
      <label class="modal-form__policy-group">
        <input
          class="modal-form__checkbox visually-hidden"
          type="checkbox"
          tabindex="-1"
          id="chk1-label"
          data-modal-checkbox
          checked
        />
        <span
          class="modal-form__custom-checkbox"
          tabindex="0"
          role="checkbox"
          aria-checked="false"
          aria-labelledby="chk1-label"
        >
          <svg class="modal-form__custom-checkbox-icon" width="18" height="18">
            <use href="./images/form-sprite.svg#icon-check"></use>
          </svg>
        </span>
        <span class="modal-form__policy-desc"
          >Соглашаюсь с
          <a class="modal-form__policy-link" href="">Политикой использования</a>
          данных</span
        >
      </label>

      <button
        class="btn btn--mode-light modal-form__submit-btn"
        type="submit"
        disabled="false"
        data-submit-btn
      >
        Отправить
      </button>
    </form>
  </div>
</div>
