<!-- <div class="backdrop is-hidden" id="modal-header">
  <div class="modal-wrapper">
    <div class="modal-content">
      <button class="modal-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          width="18"
          height="18"
        >
          <path
            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
          />
        </svg>
      </button>

      <h1 class="modal-title">Оставьте заявку на стрижку</h1>
      <form class="modal-form"> -->
<!-- дані відвідувача -->
<!-- <label class="modal-form__group">
          <span class="modal-form__label">Имя</span>
          <input
            class="modal-form__input"
            type="text"
            name="user-name"
            minlength="3"
            placeholder=" "
            required
          />
          <span class="alert alert--warning">
            Имя должно состоять минимум из 3 символов
          </span>
          <svg class="alert-icon alert-icon--warning" width="18" height="18">
            <use href="./images/form-sprite.svg#icon-warning"></use>
          </svg>
          <span class="alert alert--error">
            Вы ввели не корректные данные
          </span>
          <svg class="alert-icon alert-icon--error" width="18" height="18">
            <use href="./images/form-sprite.svg#icon-error"></use>
          </svg>
          <svg class="modal-form__icon" width="20" height="20">
            <use href="./images/form-sprite.svg#icon-user"></use>
          </svg>
        </label>

        <label class="modal-form__group">
          <span class="modal-form__label">Телефон</span>
          <input
            class="modal-form__input"
            type="phone"
            name="user-phone"
            placeholder=" "
            required
          />
          <span class="alert alert--warning">
            Введите номер телефона в формате +38 099 123 45 67
          </span>
          <svg class="alert-icon alert-icon--warning" width="15" height="15">
            <use href="./images/form-sprite.svg#icon-warning"></use>
          </svg>
          <span class="alert alert--error">
            Вы ввели не корректные данные
          </span>
          <svg class="alert-icon alert-icon--error" width="15" height="15">
            <use href="./images/form-sprite.svg#icon-error"></use>
          </svg>
          <svg class="modal-form__icon" width="20" height="20">
            <use href="./images/form-sprite.svg#icon-phone"></use>
          </svg>
        </label>

        <label class="modal-form__group">
          <span class="modal-form__label">Почта</span>
          <input
            class="modal-form__input"
            type="mail"
            name="user-mail"
            placeholder=" "
            required
          />
          <span class="alert alert--warning">
            Введите почту в формате example@mail.com
          </span>
          <svg class="alert-icon alert-icon--warning" width="15" height="15">
            <use href="./images/form-sprite.svg#icon-warning"></use>
          </svg>
          <span class="alert alert--error">
            Вы ввели не корректные данные
          </span>
          <svg class="alert-icon alert-icon--error" width="15" height="15">
            <use href="./images/form-sprite.svg#icon-error"></use>
          </svg>
          <svg class="modal-form__icon" width="20" height="20">
            <use href="./images/form-sprite.svg#icon-mail"></use>
          </svg>
        </label> -->

<!-- варіанти оплати -->
<!-- <p class="modal-form__subtitle">Виберите форму оплаты</p>
        <div class="modal-form__pay-type">
          <label class="modal-form__pay-group">
            <input
              class="modal-form__pay-checkbox visually-hidden"
              type="radio"
              name="user-pay"
              checked
            />
            <svg class="modal-form__pay-option" width="50" height="50">
              <use href="./images/form-sprite.svg#icom-ms-card"></use>
            </svg>
          </label>

          <label class="modal-form__pay-group">
            <input
              class="modal-form__pay-checkbox visually-hidden"
              type="radio"
              name="user-pay"
            />
            <svg class="modal-form__pay-option" width="50" height="50">
              <use href="./images/form-sprite.svg#icon-visa"></use>
            </svg>
          </label>
        </div> -->

<!-- політика приватності (чекбокс) -->
<!-- <label class="modal-form__policy-group">
          <input
            class="modal-form__checkbox visually-hidden"
            type="checkbox"
            tabindex="-1"
            id="chk1-label"
            data-modal-checkbox
            checked
          />
          <span
            class="modal-form__custom-checkbox"
            tabindex="0"
            role="checkbox"
            aria-checked="false"
            aria-labelledby="chk1-label"
          >
            <svg
              class="modal-form__custom-checkbox-icon"
              width="18"
              height="18"
            >
              <use href="./images/form-sprite.svg#icon-check"></use>
            </svg>
          </span>
          <span class="modal-form__policy-desc"
            >Соглашаюсь с
            <a class="modal-form__policy-link" href=""
              >Политикой использования</a
            >
            данных</span
          >
        </label>

        <button
          class="btn btn--mode-light modal-form__submit-btn"
          type="submit"
          disabled="false"
          data-submit-btn
        >
          Отправить
        </button>
      </form>
    </div>
  </div>
</div> -->

<!-- =============================================================== -->
<div class="backdrop is-hidden" id="modal-header">
  <div class="modal">
    <div class="modal-content">
      <button type="submit" class="modal-close">
        <svg width="20" height="20" class="">
          <use href="./images/modal.svg#icon-modal-x"></use>
        </svg>
      </button>

      <h1 class="modal-title">Contact Us</h1>

      <form id="form-modal" class="modal-form">
        <div class="input-block">
          <div class="wrapper-input">
            <!-- <label>Name</label> -->

            <input
              type="text"
              id="name"
              class="modal-input"
              placeholder="Name"
              required
            />
            <svg width="18" height="18" class="input-icon">
              <use href="./images/modal-form.svg#icon-user"></use>
            </svg>
          </div>

          <div class="wrapper-input">
            <!-- <label>Phone</label> -->

            <input
              type="tel"
              id="phone"
              class="modal-input"
              placeholder="Phone"
              required
            />
            <svg width="18" height="18" class="input-icon">
              <use href="./images/modal.svg#icon-modal-phone"></use>
            </svg>
          </div>

          <div class="wrapper-input">
            <!-- <label>Email</label> -->

            <input
              type="email"
              id="email"
              class="modal-input"
              placeholder="E-mail"
              required
            />
            <svg width="18" height="18" class="input-icon">
              <use href="./images/modal.svg#icon-modal-mail"></use>
            </svg>
          </div>
        </div>

        <fieldset class="radio-payment">
          <legend>Select payment method?</legend>
          <input
            type="radio"
            name="money"
            id="mastercard"
            value="mastercard"
            class="payment-input"
          />
          <label
            for="mastercard"
            class="payment-label"
            data-tooltip="MasterCard"
          >
            <span class="tooltip"></span>
            <img src="./images/master_card.svg" alt="icon-master" />
            <!-- <span>MasterCard</span> -->
          </label>

          <input
            type="radio"
            name="money"
            id="visacard"
            value="visacard"
            class="payment-input"
          />
          <label for="visacard" class="payment-label" data-tooltip="VisaCard">
            <span class="tooltip"></span>
            <img src="./images/visa_card.svg" alt="icon-visa" />

            <!-- <span>VisaCard</span> -->
          </label>

          <input
            type="radio"
            name="money"
            id="cash"
            value="cash"
            class="payment-input"
          />
          <label for="cash" class="payment-label" data-tooltip="Cash">
            <span class="tooltip"></span>
            <img src="./images/money.svg" alt="icon-cash" />

            <!-- <span>VisaCard</span> -->
          </label>
        </fieldset>

        <div class="wrapper-input">
          <label>Comments</label>
          <textarea
            class="textarea-input"
            name="comment"
            id="comment"
            placeholder="enter you comment"
          ></textarea>
        </div>

        <button type="submit" id="submitBtn" class="modal-button" disabled>
          Send
        </button>
      </form>
    </div>
  </div>
</div>
