<section class="prices">
  <div class="prices-container container">
    <p class="prices-text pre-text">Spend your time with the best masters</p>
    <h2 class="prices-title">Services and prices</h2>
    <div class="prices-listWrapper">
      <ul class="prices-listLeftBlock prices-list">
        <li class="prices-item">
          <p class="prices-itemText">Men’s haircut</p>
          <p class="prices-itemText">from 300 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Beard trim</p>
          <p class="prices-itemText">from 300 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Mustache trim</p>
          <p class="prices-itemText">from 200 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Straight razor shave</p>
          <p class="prices-itemText">from 200 uah.</p>
        </li>
      </ul>

      <ul class="prices-listRightBlock prices-list">
        <li class="prices-item">
          <p class="prices-itemText">Trainee’s haircut</p>
          <p class="prices-itemText">from 50 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Haircut under the nozzle</p>
          <p class="prices-itemText">from 200 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Children’s haircut (0-12 y.o.)</p>
          <p class="prices-itemText">from 300 uah.</p>
        </li>
        <li class="prices-item">
          <p class="prices-itemText">Camouflage of gray hair</p>
          <p class="prices-itemText">from 200 uah.</p>
        </li>
      </ul>
    </div>
    <button class="prices-button bg-btn" type="button">online-booking</button>
  </div>
</section>
