<section class="team">
  <div class="team-container container">
    <p class="team-preText pre-text">For true enjoyers of the atmosphere</p>
    <h2 class="team-title">Our barbers</h2>
    <ul class="team-list">
      <li class="team-item">
        <a
          href="https://uk.wikipedia.org/wiki/%D0%91%D0%B0%D1%80%D0%B1%D0%B5%D1%80"
          target="blank"
          class="team-link"
        >
          <div class="team-thumb">
            <img
              class="team-img"
              src="./images/barber1.jpg"
              alt="our barbers"
              width="370"
            />
            <p class="team-coverText">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              quas magnam quis excepturi! Distinctio at temporibus quas
              repellendus suscipit labore fugit quisquam neque tempora voluptate
              praesentium asperiores voluptatum, perferendis quaerat rerum,
              corporis qui!
            </p>
          </div>
        </a>
        <h3 class="team-name">John Smith</h3>
        <p class="team-text">Extreme Barber</p>
        <ul class="team-socList">
          <li class="team-socItems">
            <a
              href="https://www.instagram.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a href="https://x.com" target="blank" class="team-socLink active">
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.facebook.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.linkedin.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item item">
        <a
          href="https://uk.wikipedia.org/wiki/%D0%91%D0%B0%D1%80%D0%B1%D0%B5%D1%80"
          target="blank"
          class="team-link"
        >
          <div class="team-thumb">
            <img
              class="team-img"
              src="./images/barber2.jpg"
              alt="our barbers"
              width="370"
            />
            <p class="team-coverText">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              quas magnam quis excepturi! Distinctio at temporibus quas
              repellendus suscipit labore fugit quisquam neque tempora voluptate
              praesentium asperiores voluptatum, perferendis quaerat rerum,
              corporis qui!
            </p>
          </div>
        </a>
        <h3 class="team-name">Michele Doe</h3>
        <p class="team-text">Extreme Barber</p>
        <ul class="team-socList">
          <li class="team-socItems">
            <a
              href="https://www.instagram.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a href="https://x.com" target="blank" class="team-socLink active">
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.facebook.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.linkedin.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <a
          href="https://uk.wikipedia.org/wiki/%D0%91%D0%B0%D1%80%D0%B1%D0%B5%D1%80"
          target="blank"
          class="team-link"
        >
          <div class="team-thumb">
            <img
              class="team-img"
              src="./images/barber3.jpg"
              alt="our barbers"
              width="370"
            />
            <p class="team-coverText">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
              quas magnam quis excepturi! Distinctio at temporibus quas
              repellendus suscipit labore fugit quisquam neque tempora voluptate
              praesentium asperiores voluptatum, perferendis quaerat rerum,
              corporis qui!
            </p>
          </div>
        </a>
        <h3 class="team-name">Alan Black</h3>
        <p class="team-text">Extreme Barber</p>
        <ul class="team-socList">
          <li class="team-socItems">
            <a
              href="https://www.instagram.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="team-socItems">
            <a href="https://x.com" target="blank" class="team-socLink active">
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.facebook.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-socItems">
            <a
              href="https://www.linkedin.com"
              target="blank"
              class="team-socLink active"
            >
              <svg width="20" height="20" class="team-socIcons">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
