<section class="working">
  <div class="working-container container">
    <h2 class="visually-hidden">Gallery</h2>
    <p class="working-text pre-text">In Latin, "barba" means "beard"</p>

    <ul class="working-list">
      <li class="working-item">
        <img
          class="working-img"
          src="./images/working-process1.jpg"
          alt="barbers at works"
          width="270"
        />
      </li>

      <li class="working-item">
        <img class="working-item" />
        <img
          class="working-img"
          src="./images/working-process2.jpg"
          alt="barbers at works"
          width="270"
        />
      </li>

      <li class="working-item">
        <img class="working-tem" />
        <img
          class="working-img"
          src="./images/working-process3.jpg"
          alt="barbers at works"
          width="270"
        />
      </li>

      <li class="working-item">
        <img
          class="working-img"
          src="./images/working-process4.jpg"
          alt="barbers at works"
          width="270"
        />
      </li>
    </ul>
  </div>
</section>
